.fondoImage{
    background-image: url('../../../../assets/field.jpg');
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}


.formLogin{
    padding: 10px;
}

.loginDogImage{
    position: absolute;
    height:41.5rem;
    top:-3rem;
    left: 5rem;
}