/* abstracts */
@import "./../../../shared/scss/abstracts/variables";

.footerContainer {
    color: white;
    text-align: center;
    margin-top: 1rem;
    min-height: none;
}

.icons {
    text-align: center;
    align-content: center;
    justify-content: center;

    svg {
        margin-right: 5px;
        cursor: pointer;
    }
}