/* abstracts */
@import "./../../../shared/scss/abstracts/variables";

#bodyComponent {
    background-color: var(--body-color);
    width: 100%;
    border-style: dotted;
    border-top-width: 5px;
    border-top-color: black;
    color: white;
}
.container-body .image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  max-height: 90%;
  margin-top: 10px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
  font-family: var(--font-text-p);
  margin-top: -80%;

}
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:5%;
    right:6.5%;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:25.25%;
  }