.fondoImage{
    background-image: url('../../../../../assets/field2.jpg');
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    resize: both;
    overflow: hidden;
}


.formLogin{
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.30);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px rgba(31,38,135,0.37);
    margin:45px;
    padding: 10px;
}

.loginDogImage{
    height:34.1rem;
    filter: drop-shadow(0 0 0.75rem #EBBE98);
}

.loginAiTemporal{
    display: none;
}


.inputText{
    margin: auto;
    width: 70%;
}

.forgotPassword{
    display: block;
    text-decoration: none;
    color: white;
}

@media (max-width: 767px){

    .loginDogImage{
        display: none;
    }

    .loginAiTemporal{
        display:block;
        margin: 0 auto;
        width: 170px;
        height: 170px;
    }

    .fondoImage{
        max-width: 100% !important;
    }
    .row{
        margin-right: 0;
    }

}