/* abstracts */
@import "./../../../shared/scss/abstracts/variables";


#stepByStep {
    border-style: dotted;
    border-width: 5px 0px 0px 0px;
    border-top-color: var(--body-color); 
    border-bottom-color: none;  
    min-width: 100%; 
}

.container {
    img {
      max-width: 100%;
      max-height: 70%;
      margin-top: 2rem;
      image-rendering: optimizeSpeed;
      object-fit: contain;
      border-radius: 10px;
    }
    .row-body-step {
        height: 40%;
        width: 99%;
    }
    .col-one {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .col-two {
        margin-top: 10% !important;
    }

    .h2-step {
        font-family: var(--font-titles);
    }

    ul {
        padding-left: 1rem;
    }

  }

p {
    margin-bottom: 0.15rem;
}
