.box {
	// background: linear-gradient(-45deg, #f62020 0%, #e271b8 100%);
	border: none;
    box-shadow: 0px 0px 9px black;
	height: 100px;
}

.backgroundImageRegister {
	background-image: url("../../../../../assets/paws.png");
	background-repeat: repeat;
	background-size: contain;
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: center;
}

.InputForm {
	margin: 20px;

	.inputText {
		border-radius: 20px;
	}
}

// .formLogin p {
// 	color: whitesmoke;
// 	font-family: "Courier" "monospaced";
// 	font-size: 1em;
// 	pointer-events: none;
// 	text-align: left;
// 	width: 50px;
//     position: absolute;
//     z-index: 1;
//     top: -5px;
//     left: -3px;
//     font-weight: 800;
// }

.rowFormRegister {
	display: flex;
	margin-top: auto auto;
}

.sticker {
	// animation-play-state: paused;
	// animation: spin 10s linear infinite;
	height: 90px;
	position: absolute;
	width: 90px;
	top: -9%;
	left: -4%;
}

.backgroundImageRegister button {
	height: 3rem;
	margin-bottom: 0.5rem;
}


// .sticker:hover {
// 	animation-play-state: running;
// }

.goHome {
text-decoration: none;
color: white;
}
.goHome:hover {
	color: white;
}

// @keyframes spin {
// 	100% {
// 		transform: rotate(1turn);
// 	}
// }
