
.box {
    background: linear-gradient(-45deg, #60efff 0%, #0061ff 100% );
}


.backgroundImageRegister{
    background-image: url('../../../../../assets/paws.png');
    background-repeat: repeat;
    background-size: contain;
    overflow: hidden;
    width: 100%;
}


.InputForm{
    margin: 20px;

    .inputText{
        border-radius: 20px;
    }
}
 