@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
    /* colors */
    --base-color: #131212;
    --title-color-amarillo: #F6ECCD;

    /* fonts */
    --font_concert: 'Concert One', cursive;;

    /*size font global*/
    font-size: 18px;
}